<div class="row">
  <div class="col-4">
    <div class="row">
      <img class="profImg" src="{{band.pic_url}}">
    </div>
{{!-- 
    <form ref='uploadForm' 
      id='uploadForm' 
      action='/api/upload/band/:' + {{band.id}} 
      method='post' 
      encType="multipart/form-data">
        <input type="file" name="profileImg" />
        <input type='submit' value='Upload!' />
    </form> --}}

    <div class="row">
      <p>Location: {{band.locale}}</p>
    </div>
    
  </div>
  <div class="col-4">
    <div class="row">
     <h3> {{band.name}}</h3>
    </div>
    <div class="row">
      {{band.bio}}
    </div>
  </div>
  <div class="col-3">
  <p>{{band.twitter}}</p> 
  <p>{{band.facebook}}</p>   
  <p>{{band.instagram}}</p>   
  <p>{{band.bandcamp}}</p>  
  
</div>

<div class="row">
  {{!-- List of upcoming events --}}
</div>

<div class="row">
  {{!-- streaming video --}}
</div>


