<div class="row">
  <div class="col-3">
    <div class="row">
      <img href="{{bands.pic_url}}">
    </div>

    <form ref='uploadForm' 
      id='uploadForm' 
      action='/api/upload/band/:' + {{bands.id}} 
      method='post' 
      encType="multipart/form-data">
        <input type="file" name="profileImg" />
        <input type='submit' value='Upload!' />
    </form>

    <div class="row">
      <p>Location: {{bands.locale}}</p>
    </div>
    <div class="row">
      {{!-- <p>Genre: {{bands.genres}}</p> --}}
    </div>
  </div>
  <div class="col-6">
    <div class="row">
      {{bands.name}}
    </div>
    <div class="row border border-black">
      {{bands.bio}}
    </div>
  </div>
  <div class="col-3">
    {{bands.twitter}}
  </div>
</div>

<div class="row">
  {{!-- List of upcoming events --}}
</div>

<div class="row">
  {{!-- streaming video --}}
</div>
