<div class="row">
  <div class="col-3">
    <div class="row">
      <img href="{{this.bands.band_pic_url}}">
    </div>
    <div class="row">
      <p>Location: {{this.bands.b_locale}}</p>
    </div>
    <div class="row">
      <p>Genre: {{this.bands.music_genres}}</p>
    </div>
  </div>
  <div class="col-6">
    <div class="row">
      {{this.bands.band_name}}
    </div>
    <div class="row border border-black">
      {{this.bands.bio}}
    </div>
  </div>
  <div class="col-3">
    {{this.bands.soc_media}}
  </div>
  <div class="row">
    
  </div>
</div>
