<div class="row">
  <div class="col-3">
    <div class="row">
      <img href="{{bands.band_pic_url}}">
    </div>
    <div class="row">
      <p>Location: {{bands.b_locale}}</p>
    </div>
    <div class="row">
      <p>Genre: {{bands.music_genres}}</p>
    </div>
  </div>
  <div class="col-6">
    <div class="row">
      {{bands.band_name}}
    </div>
    <div class="row border border-black">
      {{bands.bio}}
    </div>
  </div>
  <div class="col-3">
    {{bands.soc_media}}
  </div>
</div>

<div class="row">
  {{!-- List of upcoming events --}}
</div>

<div class="row">
  {{!-- streaming video --}}
</div>
